# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Storage and DuckDB database files
storage/*
!storage/.gitkeep

*.db
*.db.wal

# Output directory
src/output/*
!src/output/.gitkeep

# macOS system files
.DS_Store

# IDEs
.vscode/
.idea/
