annotated-types==0.7.0
click==8.1.8
dnspython==2.7.0
duckdb==1.4.4
email-validator==2.3.0
idna==3.18
numpy==2.0.2
pandas==2.3.3
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
pytz==2026.2
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
